div(ng-switch="!document.editable")
  div(ng-switch-when="true")
    h2 {{ document.name }}
      |  (
      a(ng-click="document.editable = true") редактировать
      | )
    p от {{ document.date | date:"dd.MM.yyyy" }} г.
    div(ng-repeat="iteration in document.iterations")
      h3 Итерация №{{ $index + 1 }}
      ul.thumbnails
        li.span3(ng-repeat="file in iteration.files")
          a.thumbnail(href="{{ file.link }}", target="_blank")
            img(ng-src="/images/icons/{{ file.name | filetype }}.png")
            br
            span {{ file.description }}

  div(ng-switch-when="false")
    input.input-block-level(type="text", placeholder="Название документа", ng-model="document.name")
    input.datepicker(type="text", placeholder="Дата", datepicker="document.date")
    div(ng-repeat="iteration in document.iterations")
      p Итерация №{{ $index + 1 }}
      ul.thumbnails
        li.span3(ng-repeat="file in iteration.files")
          a.thumbnail
            img(ng-src="/images/icons/{{ file.name | filetype }}.png")
            br
            input(ng-model="file.description")
        li.span3
          a.thumbnail(fileupload="addFile(iteration, file, location)")
            img(ng-src="/images/icons/fileicon_bg.png")
            br
            span Загрузить файл
    button.btn(ng-click="addIteration(document)") Добавить итерацию
    button.btn(ng-click="saveDocument(document)") Сохранить документ
