h2 {{ document.name }}
p от {{ document.date | date:"dd.MM.yyyy" }} г.
div(ng-repeat="iteration in document.iterations")
  h3 Итерация №{{ $index + 1 }}
  ul.thumbnails()
    li.span3(ng-repeat="file in iteration.files")
      a.thumbnail(href="{{ file.link }}", target="_blank")
        img(ng-src="/images/icons/{{ file.name | filetype }}.png")
        br
        span {{ file.description }}
