doctype 5
html(lang="ru", ng-app="docstation")
  head
    title Docstation

    link(rel="stylesheet", href="/components/bootstrap/docs/assets/css/bootstrap.css")
    link(rel="stylesheet", href="/components/bootstrap-datepicker/css/datepicker.css")
    link(rel="stylesheet", href="/styles/index.css")

    script(src="/components/jquery/jquery.min.js")
    script(src="/components/bootstrap-datepicker/js/bootstrap-datepicker.js")
    script(src="/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js")
    script(src="/components/jquery-ui/ui/jquery.ui.widget.js")
    script(src="/components/jquery-file-upload/js/jquery.iframe-transport.js")
    script(src="/components/jquery-file-upload/js/jquery.fileupload.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")
    script(src="/scripts/index.js")

  body.container(ng-controller="DocumentsCtrl")
    h1 Документы

    .well
      input.input-block-level(placeholder="Поиск", ng-model="search.name")

    div.well(ng-repeat="document in documents | filter:search | orderBy:'-date'", document="document")

    h2 Новый документ

    .well(document="document", onsave="newDocument(document)")
